.items-slider {
    background-color: $color-white;
    padding: 100px 0 150px;

    @include media-breakpoint-up ('lg') {
        font-size: 40px;
        padding: 150px 0;
    }

    &__heading {
        color: $color-pink;
        font-weight: $font-weight-light;
        margin-bottom: 15px;
        text-transform: uppercase;
        text-align: center;

        @include media-breakpoint-up ('lg') {
            font-size: 40px;
        }
    }

    &__intro {
        font-size: 18px;
        margin-bottom: 80px;
        text-align: center;

        @include media-breakpoint-up ('lg') {
            font-size: 22px;
        }
    }

    .glide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        overflow: visible !important;
        width: 100%;
    }

    .glide__slide {
        border-radius: 5px;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        height: 300px;
        overflow: hidden;

        &:focus,
        &:hover {
            .items-slider__slide-image {
                transform: scale(115%);
            }
        }
    }
    
    &__slide-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__slide-image {
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 250px;
        justify-content: center;
        transition: 1s transform ease;
        width: 100%;
        z-index: 0;
    }

    &__slide-play {
        align-items: center;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        height: 50px;
        justify-content: center;
        overflow: hidden;
        width: 50px;

        &::before {
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 15px solid $color-pink;
            content: '';
            display: block;
            height: 0;
            margin-right: -5px;
            width: 0;
        }
    }

    &__slide-content {
        background-color: $color-pink;
        height: 60px;
        padding: 15px;
        position: relative;

        &::before {
            background-color: $color-pink;
            content: '';
            display: block;
            height: 100px;
            left: -50%;
            position: absolute;
            top: -50px;
            transform: rotate(10deg);
            width: 200%;
            z-index: 0;
        }
    }

    &__slide-heading {
        color: $color-white;
        font-size: 20px;
        font-weight: $font-weight-bold;
        margin: 0;
        position: relative;
        text-align: center;
        transform: translateY(-30px);
        z-index: 1;
    }

    [data-glide-el="controls"] {
        display: none;
        height: 0px;
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;

        @include media-breakpoint-up ('md') {
            display: flex;
        }
    }

    [aria-label="left-arrow"],
    [aria-label="right-arrow"] {
        background-color: $color-white;
        display: inline-block;

        svg polyline {
            fill: $color-white;
            stroke: $color-pink;
        }

        &:focus svg polyline,
        &:hover svg polyline {
            stroke: darken($color-pink, 10%);
        }
    }

    [aria-label="left-arrow"] {
        left: 0;
        transform: translateY(-50%) translateX(-100%);
    }

    [aria-label="right-arrow"] {
        right: 0;
        transform: translateY(-50%) translateX(100%);
    }
}