.upload-items-form-active {
    overflow: hidden;
}

.upload-items-form {
    align-items: center;
    background-color: rgba($color-black, 0.8);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: 0.2s all ease-in;
    width: 100vw;
    z-index: 9999;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__inner {
        background-color: $color-white;
        border-radius: 5px;
        padding: 30px 20px;
    }

    &__title {
        color: $color-pink;
        font-size: 22px;
    }

    &__summary {
        font-size: 18px;
    }

    &__btn {
        background-color: $color-pink;
        border-color: $color-pink;
        color: $color-white;
        font-size: 16px;
        margin-right: 10px;
        
        &:focus,
        &:hover {
            background-color: $color-white;
            color: $color-pink;
        }

        &--no {
            background-color: $color-white;
            color: $color-pink;
            margin-right: 0;

            &:focus,
            &:hover {
                background-color: $color-pink;
                color: $color-white;
            }
        }
    }

    .ff-alert {
        display: none;
    }

    .ff-form {
        margin: 0;
        max-width: none;
    }

    .ff-title {
        color: $color-pink;
    }

    .ff-submit {
        background-color: $color-pink;
        border: 5px;
        border-color: $color-pink;
    }
}