* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a,
i,
strong {
    font-size: inherit;
    color: inherit;
}

html,
body {
    background-color: $color-grey-light;
}

body {
    overflow-x: hidden !important;
}