.profiles  {
    margin-top: -100px;
    padding: 0 0 150px;

    &__search {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;

        .form-group {
            display: flex;
            flex-direction: column;
            flex-grow: 5;
            justify-content: flex-end;
            margin-right: 20px;

            &:last-child {
                flex-grow: 1;
                margin-right: 0;
            }
        }

        label {
            color: $color-pink;
            margin-bottom: 5px;
        }
    }

    &__search-reset {
        background-color: $color-pink;
        color: $color-white;

        &:focus,
        &:hover {
            background-color: darken($color-pink, 10%);
            color: $color-white;
        }
    }

    &__card {
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: calc(100% - 24px);
        margin-bottom: 24px;
        overflow: hidden;
        padding: 30px 20px;
        text-align: center;
        transition: 0.5s transform ease;

        &:focus,
        &:hover {
            transform: scale(105%);

            .profiles__card-img {
                transform: rotate(10deg);
            }
        }
    }

    &__card-img {
        border-radius: 50%;
        display: block;
        height: 250px;
        margin: auto;
        object-fit: cover;
        transition: 0.2s transform ease;
        width: 250px;

        @include media-breakpoint-up ('sm') {
            height: 350px;
            width: 350px;
        }

        @include media-breakpoint-up ('md') {
            height: 300px;
            width: 300px;
        }

        @include media-breakpoint-up ('lg') {
            height: 250px;
            width: 250px;
        }

        @include media-breakpoint-up ('xl') {
            height: 300px;
            width: 300px;
        }
    }

    &__card-content {
        margin-top: 30px;
    }

    &__card-name {
        color: $color-pink;
    }
    
    &__card-role {
        color: $color-charcoal;
    }

    &__card-blurb {
        color: $color-charcoal;
        margin-bottom: 0;
        text-align: left;
    }
}