.rsvp-form {
    background-color: $color-grey-light;
    height: 100vh;
    left: -110%;
    overflow: scroll;
    padding: 50px 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 110;

    &__inner {
        position: relative;

        &::after {
            background-color: transparent;
            border: 0;
            border-bottom: 4px solid $color-charcoal;
            border-radius: 5px;
            border-right: 4px solid $color-charcoal;
            bottom: 0;
            // content: '';
            display: block;
            height: 20px;
            left: 50%;
            padding: 0;
            position: absolute;
            transform: translateY(0) translateX(-50%) rotate(45deg);
            width: 20px;
            z-index: 1;
        }
    }

    &__close {
        cursor: pointer;
        display: inline-block;
        height: 32px;
        right: 10px;
        position: relative;
        width: 32px;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            background-color: $color-charcoal;
            content: '';
            height: 33px;
            left: 15px;
            position: absolute;
            transform: rotate(45deg);
            width: 2px;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .ff-alert {
        display: none;
    }

    .ff-form {
        margin: 0;
        max-width: none;
    }

    .ff-title {
        color: $color-pink;
    }

    .ff-submit {
        background-color: $color-pink;
        border-color: $color-pink;
        color: $color-white;
        font-size: 16px;
        margin-right: 10px;
        
        &:focus,
        &:hover {
            background-color: $color-white;
            color: $color-pink;
        }

        &--no {
            background-color: $color-white;
            color: $color-pink;
            margin-right: 0;

            &:focus,
            &:hover {
                background-color: $color-pink;
                color: $color-white;
            }
        }
    }
}