.english,
.samoan {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

body.english {
    .english {
        display: block;
    }

    .samoan {
        display: none;
    }

    .translate .dropdown-item[data-lang="english"] {
        font-weight: $font-weight-bold;

        &::after {
            border-color: $color-pink;
        }
    }
}

body.samoan {
    .samoan {
        display: block;
    }

    .english {
        display: none;
    }

    .translate .dropdown-item[data-lang="samoan"] {
        font-weight: $font-weight-bold;

        &::after {
            border-color: $color-pink;
        }
    }
}

.translate {
    position: absolute;
    right: 0;
    top: 20px;

    @include media-breakpoint-up (lg) {
        position: relative;
        top: 0;
    }

    &__dropdown {
        background-color: $color-pink;
        border-radius: 5px;
        transition: 0.2s background-color ease;

        &:focus,
        &:hover {
            background-color: darken($color-pink, 10%);

            .translate__icon {
                color: $color-white;
            }
        }

        &--active .dropdown-menu {
            display: block;
            right: 0;
        }
    }

    &__icon {
        align-items: center;
        color: $color-white;
        display: flex;
        font-size: 25px;
        height: 50px;
        justify-content: center;
        padding: 0;
        width: 50px;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdown-menu {
        background-color: $color-grey-light;
        border-radius: 5px;
        padding: 0;
    }

    .dropdown-item {
        cursor: pointer;
        color: $color-pink;
        padding: 20px 10px;
        position: relative;
        transition: 0.2s color ease,
            0.2s background-color ease
        ;

        &:focus,
        &:hover {
            background-color: $color-grey-light;
            color: $color-pink;
        }

        &::after {
            background-color: transparent;
            border-bottom: 3px solid $color-white;
            border-right: 3px solid $color-white;
            content: '';
            display: block;
            height: 15px;
            position: absolute;
            right: 14px;
            top: 21px;
            transform: rotate(40deg);
            width: 11px;
        }
    }
}