.accordions {
    padding: 200px 0;

    &__heading {
        color: $color-pink;
        font-weight: $font-weight-light;
        margin-bottom: 40px;
        text-align: center;;
        text-transform: uppercase;

        @include media-breakpoint-up ('lg') {
            font-size: 40px;
        }
    }
}

.accordion {
    padding: 15px 0;

    &__header {
        color: $color-charcoal;
        font-size: 22px;
        font-weight: 600;

        @include media-breakpoint-up ('md') {
            font-size: 24px;
        }
    }

    &__item {
        border: 2px solid rgba($color-black, 0.1);
        border-width: 2px 0;
        border-bottom: none;
        overflow: hidden;
        position: relative;

        &:last-child {
            border-bottom: 2px solid rgba($color-black, 0.1);
        }
    }

    &__number {
        color: lighten($color-pink, 10%);
        margin-right: 20px;
    }

    &__link {
        background: transparent;
        border: none;
        color: $color-charcoal;
        display: flex;
        font-size: 18px;
        padding: 15px 0;
        position: relative;
        text-align: left;
        text-decoration: none;
        width: 100%;

        &.active::after {
            transform: rotate(225deg);
        }

        &::after {
            background-color: $color-white;
            border: 0 solid $color-pink;
            border-width: 0 2px 2px 0;
            content: '';
            display: inline-block;
            height: 12px;
            position: absolute;
            right: 5px;
            top: calc(100% - 40px);
            transform: rotate(45deg);
            transition: 0.2s transform ease-in;
            width: 12px;
        }

        @include media-breakpoint-up ('md') {
            font-size: 20px;
        }
    }

    &__target {
        color: #666;
        font-size: 14px;
        height: 0;
        letter-spacing: -0.3px;
        transition: 0.5s height;

        @include media-breakpoint-up ('md') {
            font-size: 16px;
        }

        p,
        ul,
        ol {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            display: none;
        }
    }

    &__content {
        font-size: 18px;
        padding: 0 30px 30px;

        @include media-breakpoint-up ('md') {
            font-size: 20px;
        }
    }
}
