.authentication {
    background-color: $color-charcoal;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;

    &__inner {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    &__form-wrapper {
        background-color: $color-white;
        border-radius: 15px;
        padding: 50px;

        @include media-breakpoint-up ('lg') {
            width: 50%;
        }
    }

    &__heading {
        color: $color-pink;
        font-size: 30px;
        margin-bottom: 15px;
    }

    &__form-label {
        margin-bottom: 5px;
    }

    &__form-submit {
        background-color: $color-pink;
        border-color: $color-pink;

        &:focus,
        &:hover {
            background-color: darken($color-pink, 10%);
            border-color: darken($color-pink, 10%);
        }
    }
}